bots/ZeroG/workflows/ZeroG Ingest Discord.json
{
    "name": "ZeroG Ingest Discord",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "zerog-ingest-discord",
                "options": {}
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                -380,
                240
            ],
            "id": "webhook",
            "name": "Webhook"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "DELETE FROM documents_pg WHERE metadata->>'source' = 'discord' AND metadata->>'server_id' = $1;",
                "options": {
                    "queryReplacement": "={{ $json.body.server_id }}"
                }
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.6,
            "position": [
                -160,
                80
            ],
            "id": "delete-old-discord",
            "name": "Delete Old Discord Messages",
            "credentials": {
                "postgres": {
                    "id": "tRiPU4yrURPN2tAc",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "fieldToSplitOut": "body.messages",
                "options": {}
            },
            "type": "n8n-nodes-base.splitOut",
            "typeVersion": 1,
            "position": [
                40,
                240
            ],
            "id": "split-messages",
            "name": "Split Batches"
        },
        {
            "parameters": {
                "jsonMode": "expressionData",
                "jsonData": "={{ $json.content }}",
                "options": {
                    "metadata": {
                        "metadataValues": [
                            {
                                "name": "source",
                                "value": "discord"
                            },
                            {
                                "name": "author",
                                "value": "={{ $json.metadata.author }}"
                            },
                            {
                                "name": "author_id",
                                "value": "={{ $json.metadata.author_id }}"
                            },
                            {
                                "name": "channel",
                                "value": "={{ $json.metadata.channel }}"
                            },
                            {
                                "name": "channel_id",
                                "value": "={{ $json.metadata.channel_id }}"
                            },
                            {
                                "name": "server_id",
                                "value": "={{ $json.metadata.server_id }}"
                            },
                            {
                                "name": "timestamp",
                                "value": "={{ $json.metadata.timestamp }}"
                            },
                            {
                                "name": "url",
                                "value": "={{ $json.metadata.url }}"
                            }
                        ]
                    }
                }
            },
            "id": "document-loader",
            "name": "Default Data Loader",
            "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
            "typeVersion": 1,
            "position": [
                240,
                460
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
            "typeVersion": 1,
            "position": [
                240,
                680
            ],
            "id": "text-splitter",
            "name": "Recursive Character Text Splitter"
        },
        {
            "parameters": {
                "mode": "insert",
                "tableName": "documents_pg",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
            "typeVersion": 1.3,
            "position": [
                440,
                240
            ],
            "id": "vector-store",
            "name": "Postgres PGVector Store",
            "credentials": {
                "postgres": {
                    "id": "tRiPU4yrURPN2tAc",
                    "name": "Postgres account"
                }
            }
        },
        {
            "parameters": {
                "model": "text-embedding-ada-002",
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsAzureOpenAi",
            "typeVersion": 1,
            "position": [
                440,
                460
            ],
            "id": "azure-embeddings",
            "name": "Embeddings Azure OpenAI",
            "credentials": {
                "azureOpenAiApi": {
                    "id": "USDrcPx24sULp61B",
                    "name": "Azure text-embedding-ada-002"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Delete Old Discord Messages",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Delete Old Discord Messages": {
            "main": [
                [
                    {
                        "node": "Split Batches",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Split Batches": {
            "main": [
                [
                    {
                        "node": "Postgres PGVector Store",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Default Data Loader": {
            "ai_document": [
                [
                    {
                        "node": "Postgres PGVector Store",
                        "type": "ai_document",
                        "index": 0
                    }
                ]
            ]
        },
        "Recursive Character Text Splitter": {
            "ai_textSplitter": [
                [
                    {
                        "node": "Default Data Loader",
                        "type": "ai_textSplitter",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings Azure OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Postgres PGVector Store",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        }
    }
}