bots/Gravilo/workflows/Gravilo Web API.json
{
  "name": "Gravilo Web API",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "query",
              "value": "={{ $json.body?.content || $json.query || $json.chatInput }}",
              "type": "string",
              "id": "a9b25265-3a64-40b7-8b17-c0b78dc40818"
            },
            {
              "id": "968c81bb-ac78-42eb-96be-d72a81c199f5",
              "name": "supabase_user_id",
              "value": "={{ $json.body.supabase_user_id }}",
              "type": "string"
            },
            {
              "id": "a0de3470-d97e-4e59-b2c8-e26aa0d540f1",
              "name": "channel_name",
              "value": "={{ $json.body.channel_name }}",
              "type": "string"
            },
            {
              "id": "372fa9c1-36ff-4b30-8fb3-13d635feb39e",
              "name": "server_id",
              "value": "={{ $json.body.server_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        112
      ],
      "id": "79bbaa39-ecff-4eef-abaf-3a75b939c3df",
      "name": "Config"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "graviloweb",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -176,
        112
      ],
      "id": "49f25748-dde1-46ae-ab37-23b17c48df05",
      "name": "Webhook",
      "webhookId": "a2749422-4cdb-4991-8de1-1f9b06d64576"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        480,
        112
      ],
      "id": "5ab08551-6844-432d-8fc9-d1265fd793c3",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -176,
        304
      ],
      "id": "e5bb1fe5-22e0-4c10-a19f-58ed248dcb6b",
      "name": "Chat Trigger for Testing",
      "webhookId": "526e6f77-6d48-4200-b944-90ddd4686de8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sohyviltwgpuslbjzqzh.supabase.co/functions/v1/discord-message-usage",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-bot-secret",
              "value": "44b83d6fb97efa6eaf3e8e9e316ea0b8"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "discord_guild_id",
              "value": "={{ $node['Config'].json.server_id }}"
            },
            {
              "name": "messages",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        112
      ],
      "id": "aa9843a4-2502-4264-bab4-bcf538ddb220",
      "name": "Increment Usage"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RAEscX2JIdjcYo50",
          "mode": "list",
          "cachedResultUrl": "/workflow/RAEscX2JIdjcYo50",
          "cachedResultName": "Gravilo Core"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ $json.query }}",
            "author_name": "={{ $json.supabase_user_id }}",
            "channel_name": "={{ $json.channel_name }}",
            "server_id": "={{ $json.server_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "author_name",
              "displayName": "author_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "channel_name",
              "displayName": "channel_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "server_id",
              "displayName": "server_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        272,
        112
      ],
      "id": "20f14ed9-6bbb-4782-8fa1-aedf3fad0b13",
      "name": "Execute Gravilo Core"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Execute Gravilo Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Trigger for Testing": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Increment Usage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Gravilo Core": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "c5f99512-2a56-4d4f-9974-6064b52e5cc2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae71872d21c0fe87f43ce4dadc860ccbf43293dcb12e1b15d8cdfd6633dde4dd"
  },
  "id": "aJbI3biMhSq5VTDI",
  "tags": []
}